body{
    margin:0;
    padding:0;
}

.box{
    width:80%;
    height: 100%;
    margin: 0 auto;
}
/* header */
header{
    background-color:#53a3fc;
}

#logo{
    margin-top: 50px;
    text-align: left;
    width: 10%;
}

.wallpaper{
    background-image: url("../img/pattern.png");
    height: 100px;
    background-size: 20%;
    background-color: contain;

}
/*main*/
section , article{
    margin-top: 20px;

}
/* section info */
h1{
    font-size: 46px;
    margin-bottom:0%;
}

.info{
    color: rgb(95, 95, 95);
    font-size: 18px;
    margin-top: 0;
}
#name{
    color: #52accf;
}

#date{
    font-size: smaller;
}

/*Section immages*/
figcaption{
    font-size: small;
}

figure{
    margin-left: 0;
}
/*section article 1*/
.highlight{
    background-color: yellow;
}

/*section ul */
ul{
    padding:12px;
}

/*section table*/
table{
    width: 100%;
    border-collapse: collapse;
    text-align: justify;
    
}

th, td{       
    text-align: left;
}

thead{
    background-color:  #3d9bc0;
    color: white;
    font-weight:bold;
}
.odd{
    background-color: #89c5dd ;
}

.w-50{
    width: 50%;
}
/* Remainder Section */

h4{
    color: rgb(95, 95, 95);
}

h3{
    color:white;
    padding-top: 10px;
    padding-left:5px;
}

.container{
    width:200px;
    height: 200px;
}

.bg1{
    background: url("../img/monitor.jpg");
}
.bg2{
    background: url("../img/graph.jpg");
}